<template>
	<view>
		
		<view class="d-flex flex-column a-center j-center py-5 my-3">
			<text class="iconfont line-h" style="font-size: 180rpx;"
			:class="success ? 'icon-iconfontxuanzhong4 main-text-color' : 'icon-shanchu text-danger'"></text>
			<text class="text-dark font-lg line-h-sm">{{success ? '支付成功' : '支付失败'}}</text>
		</view>
		<view class="px-5">
			<view class="rounded main-bg-color text-white font-md w-100 py-2 mt-3 text-center" hover-class="main-bg-hover-color">
				查看订单
			</view>
			<view class="rounded border font-md w-100 py-2 mt-3 text-center" hover-class="bg-light" @click="toIndex">
				返回首页
			</view>
		</view>
		
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				success:true
			}
		},
		onLoad(e) {
			if(e.detail){
				this.success = (JSON.parse(e.detail)).success
			}
		},
		methods: {
			toIndex(){
				uni.switchTab({
					url:"../index/index"
				})
			}
		}
	}
</script>

<style>

</style>
