<template>
	<!-- <div>
		
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-9 col-md-7 col-lg-5 m-auto pt-5">
					<div class="card mt-5">
						<div class="card-header bg-white">
							<h3 class="text-center mb-0 text-secondary">
								 {{$conf.logo}}
							</h3>
						</div>
						<div class="card-body">
							<el-form ref="ruleForm" :rules="rules" 
							:model="form">
								<el-form-item prop="username">
									<el-input v-model="form.username" 
									size="medium"
									placeholder="请输入用户名">
									</el-input>
								</el-form-item>
								<el-form-item prop="password">
									<el-input v-model="form.password" 
									@keyup.enter.native="submit"
									size="medium" type="password"
									placeholder="请输入密码">
									</el-input>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" size="medium"
									class="w-100" @click="submit"
									:loading="loading">
										{{loading? '登录中...' : '立即登录'}}
									</el-button>
								</el-form-item>
							</el-form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</div> -->
	
	<div class="login-container">
	  <!-- <el-form ref="loginForm" class="login-form" auto-complete="on" label-position="left"> -->
		<el-form ref="ruleForm" :rules="rules" :model="form" class="login-form" auto-complete="on" label-position="left">
			
	    <div class="title-container">
	      <h3 class="title">后台管理系统</h3>
	    </div>
	
	    <el-form-item prop="username">
	      <span class="svg-container">
	        <svg-icon icon-class="user" />
	      </span>
	      <!-- <el-input
	        ref="username"
	        placeholder="请输入账号"
	        name="username"
	        type="text"
	        tabindex="1"
	        auto-complete="on"
	      /> -->
		  <el-input
		    v-model="form.username"
		    placeholder="请输入账号"
		    name="username"
		    type="text"
		    tabindex="1"
		    auto-complete="on"
		  />
	    </el-form-item>
	
	    <el-form-item prop="password">
	      <span class="svg-container">
	        <svg-icon icon-class="password" />
	      </span>
	      <!-- <el-input
	        :key="passwordType"
	        ref="password"
	        :type="passwordType"
	        placeholder="请输入密码"
	        name="password"
	        tabindex="2"
	        auto-complete="on"
	      /> -->
		  <el-input
		    v-model="form.password"
		    placeholder="请输入密码"
		    name="password"
			type="password"
		    tabindex="2"
		    auto-complete="on"
			@keyup.enter.native="submit"
		  />
	      <!-- <span class="show-pwd" @click="showPwd">
	        <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
	      </span> -->
	    </el-form-item>
	
	    <el-button :loading="loading" type="primary" style="width:100%; margin: 10px 0;" @click.native.prevent="submit">
			{{loading? '登录中...' : '立即登录'}}
		</el-button>
	
	    <!-- <div class="tips">
	      <span style="margin-right:20px;">username: admin</span>
	      <span> password: admin</span>
	    </div> -->
	
	  </el-form>
	</div>
	
	
</template>

<script>
	let ms = []
	import { mapGetters } from 'vuex'
	export default {
		data() {
			return {
				loading:false,
				form:{
					username:"",
					password:""
				},
				rules:{
					username:[
						{ required:true,message:"请输入用户名",trigger:'blur' }
					],
					password:[
						{ required:true,message:"请输入密码",trigger:'blur' }
					]
				}
			}
		},
		computed: {
			...mapGetters([
				'adminIndex'
			])
		},
		methods: {
			submit() {
				this.$refs.ruleForm.validate((e)=>{
					if (!e) return;
					// 提交表单
					this.loading = true
					this.axios.post('/admin/login',this.form).then(res=>{
						// 存储到vuex
						let data = res.data.data
						// 存储到本地存储
						this.$store.commit('login',data)
						// 存储权限规则
						if(data.role && data.role.rules){
							window.sessionStorage.setItem('rules',JSON.stringify(data.role.rules))
						}
						// 生成后台菜单
						this.$store.commit('createNavBar',data.tree)
						// 成功提示
						this.$message('登录成功')
						this.loading = false
						// 跳转后台首页
						this.$router.push({name:this.adminIndex})
					}).catch(err=>{
						this.loading = false
					})
				})
			}
		},
	}
</script>

<style lang="scss">
/* 修复input 背景不协调 和光标变色 */
/* Detail see https://github.com/PanJiaChen/vue-element-admin/pull/927 */

$bg:#283443;
$light_gray:#fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
</style>

<style lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.login-container {
  min-height: 100%;
  width: 100%;
  position: fixed;
  background-color: $bg;
  overflow: hidden;

  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;

    .valid-code-input {
      display: inline-block;
      width: calc(100% - 140px)
    }
    .valid-code-img {
      cursor: pointer;
      display: inline-block;
      width: 100px;
      height: 49px;
      background: #FFF;
      vertical-align: top;
    }

  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
}
</style>
