<template>
	<view style="background: #F5F5F5;min-height: 100%;height: auto;">
		<!-- 地址选择 -->
		<view class="main-bg-color text-white d-flex a-center px-3" 
		style="height: 250rpx;" hover-class="main-bg-hover-color"
		 @click="openPathList">
			<view>
				<template v-if="path">
					<view class="font-weight font-md d-flex a-center font-lg">
						{{path.name}} {{path.phone}}
						<view 
						class="border border-white rounded px-1 font ml-2"
						v-if="path.isdefault">默认</view>
					</view>
					<view class="font">
						{{path.province}} {{path.city}} {{path.district}} 
						{{path.address}} 
					</view>
				</template>
				<template v-else>
					<view
					class="font-weight font-md d-flex a-center font-lg">
						请选择收货地址
					</view>
				</template>
			</view>
			<view class="iconfont icon-you ml-auto"></view>
		</view>
		
		<view style="border-top-left-radius: 25rpx;border-top-right-radius: 25rpx;margin-top: -25rpx;overflow: hidden;">
			<view class="bg-white">
				<uni-list-item showArrow>
					<view class="d-flex a-center flex-wrap">
						<image v-for="(item,index) in goodsList" 
						:src="item.cover"
						style="width: 100rpx;height: 100rpx;" 
						class="rounded mr-2 mb-2"
						></image>
					</view>
					<view slot="rightContent">共{{goodsList.length}}件</view>
				</uni-list-item>
				<uni-list-item title="商品总价" :showArrowIcon="false">
					<view slot="rightContent">
						<price color="text-dark">{{totalPrice}}</price>
					</view>
				</uni-list-item>
				<uni-list-item title="运费" :showArrowIcon="false">
					<view slot="rightContent">包邮</view>
				</uni-list-item>
				<uni-list-item title="优惠券" @click="chooseCoupon">
					<view slot="rightContent" :class="coupon_count ===0 ?'text-light-muted':'main-text-color' ">
						<text v-if="coupon_user.id === 0">{{coupon_count === 0 ? '无可用':coupon_count+' 张可用'}}</text>
						<text v-else>{{coupon_user.type === 0 ? '￥'+coupon_user.value : coupon_user.value+'折'}}</text>
					</view>
				</uni-list-item>
				<uni-list-item :showArrowIcon="false">
					<text class="main-text-color">小计</text>
					<view slot="rightContent">
						<price>{{price}}</price>
					</view>
				</uni-list-item>
				<divider></divider>
				<uni-list-item title="发票" extraWidth="40%"
				@click="openOrderInvoice">
					<view slot="rightContent">电子发票-个人</view>
				</uni-list-item>
				
			</view>
		</view>
		
		<view class="position-fixed d-flex a-center j-end border bottom-0 left-0 right-0 bg-white p-2 font-md">
			合计:
			<view class="ml-2">
				<price>{{price}}</price>
			</view>
			<view class="ml-2 px-2 py-1 text-white font-md"
			hover-class="main-bg-hover-color" style="border-radius: 80rpx;"
			@click="openPayMethods" :class="loading ? 'main-bg-disabled-color' : 'main-bg-color'">
				{{loading ? '加载中...' : '去支付'}}
			</view>
		</view>
		
	</view>
</template>

<script>
	import uniListItem from "@/components/uni-ui/uni-list-item/uni-list-item.vue"
	import price from "@/components/common/price.vue"
	
	import {mapGetters,mapState} from "vuex"
	export default {
		components: {
			uniListItem,
			price
		},
		data() {
			return {
				loading:false,
				path:false,
				items:[],
				coupon_user:{
					id:0,
					value:0,
					type:0
				},
				coupon_count:0,
				order_id:0
			}
		},
		computed: {
			...mapState({
				list:state=>state.cart.list,
			}),
			...mapGetters(['defaultPath','totalPrice']),
			// 最终价格
			price(){
				let price = 0
				if(this.coupon_user.type === 0){
					price = this.totalPrice - this.coupon_user.value
				} else {
					price = this.totalPrice * (this.coupon_user.value/10)
				}
				return price.toFixed(2)
			},
			// 下单商品
			goodsList(){
				return this.items.map(v=>{
					return this.list.find(v2=>v2.id === v)
				})
			},
		},
		onLoad(e) {
			if(e.detail){
				this.items = JSON.parse(e.detail)
			}
			// 获取默认地址
			if (this.defaultPath.length) {
				this.path = this.defaultPath[0]
			}
			// 开启监听选择收货地址事件
			uni.$on('choosePath',(res)=>{
				this.path = res
			})
			// 开启监听选择优惠券事件
			uni.$on('couponUser',(res)=>{
				this.coupon_user = res
			})
		},
		mounted() {
			// 获取当前用户可用优惠券数量（自动选择）
			this.$H.post('/coupon_count',{
				price:this.totalPrice
			},{
				token:true
			}).then(res=>{
				this.coupon_count = res
			}).catch(err=>{
				uni.showToast({
					title: '统计可用优惠券失败',
					icon: 'none'
				});
			})
			// 商品运费情况（根据收货地址，运费模板，商品情况计算运费）
		},
		onUnload() {
			// 关闭监听选择收货地址事件
			uni.$off('choosePath')
			uni.$off('couponUser')
		},
		onShow() {
			if(this.order_id > 0){
				uni.redirectTo({
					url: '../order-detail/order-detail?order_id='+this.order_id
				});
			}
		},
		methods: {
			chooseCoupon(){
				uni.navigateTo({
					url: '../order-coupon/order-coupon?detail='+JSON.stringify({
						price:this.totalPrice
					}),
				});
			},
			openPathList(){
				uni.navigateTo({
					url: '../user-path-list/user-path-list?type=choose'
				});
			},
			openOrderInvoice(){
				uni.navigateTo({
					url: '../order-invoice/order-invoice'
				});
			},
			// 支付
			openPayMethods(){
				if(this.loading){
					return;
				}
				// 验证
				if(!this.path){
					return uni.showToast({
						title: '请先选择收货地址',
						icon: 'none'
					});
				}
				let options = {
					user_addresses_id:this.path.id,
					items:this.items.join(',')
				}
				if(this.coupon_user.id > 0){
					options.coupon_user_id = this.coupon_user.id
				}
				console.log(options);
				this.loading = true
				// 提交订单
				this.$H.post('/order',options,{
					token:true
				}).then(res=>{
					this.loading = false
					let obj = {
						id:res.id,
						totalPrice:res.total_price
					}
					// 更新购物车列表
					uni.$emit('updateCart')
					// 跳转到支付页
					uni.navigateTo({
						url: '../pay-methods/pay-methods?detail='+JSON.stringify(obj),
						success: () => {
							this.order_id = res.id
						}
					});
				}).catch(err=>{
					console.log(err);
					this.loading = false
				})
			}
		}
	}
</script>

<style>

</style>
