<template>
	<common-popup :popupClass="popupShow" @hide="hidePopup">
		<view class="d-flex a-center" style="height: 275rpx;">
			<image :src="popupData.cover" 
					mode="widthFix"
			style="height: 180rpx;width: 180rpx;" 
					class="border rounded bg-light"></image>
			<view class="pl-2">
				<price priceSize="font-lg" 
						unitSize="font">{{showPrice}}</price>
				<view class="d-block">
					{{checkedSkus}}
				</view>
			</view>
		</view>
		<scroll-view scroll-y class="w-100" style="height: 660rpx;">
			<card :headTitle="item.title" :headTitleWeight="false" 
			:headBorderBottom="false" :key="index"
			v-for="(item,index) in popupData.selects">
				<zcm-radio-group :label="item" 
				:selected.sync='item.selected'></zcm-radio-group>
			</card>
			<view class="d-flex j-sb a-center p-2 border-top border-light-secondary">
				<text>购买数量</text>
				<uni-number-box :min="1" :max="maxStock" :value="popupData.num" @change="num = $event"></uni-number-box>
			</view>
		</scroll-view>
		 <view class="main-bg-color text-white font-md d-flex a-center j-center" hover-class="main-bg-hover-color" style="height: 100rpx;margin-left: -30rpx;margin-right: -30rpx;" @tap.stop="hidePopup(true)">
		 	确定
		 </view>
	</common-popup>
</template>

<script>
	import commonPopup from "@/components/common/common-popup.vue"
	import zcmRadioGroup from "@/components/common/radio-group.vue"
	import card from "@/components/common/card.vue"
	import price from "@/components/common/price.vue"
	import uniNumberBox from "@/components/uni-ui/uni-number-box/uni-number-box.vue"
	import {mapState,mapGetters,mapActions,mapMutations} from "vuex"
	export default {
		components: {
			commonPopup,
			zcmRadioGroup,
			card,
			price,
			uniNumberBox
		},
		data() {
			return {
				num:0
			}
		},
		computed: {
			...mapState({
				popupShow:state=>state.cart.popupShow,
				popupData:state=>state.cart.popupData,
				popupIndex:state=>state.cart.popupIndex
			}),
			// 选中的sku
			checkedSkus(){
				if (this.popupData && this.popupData.selects) {
					// 拿到选中skus组成字符串
					let checkedSkus = this.popupData.selects.map(v=>{
						return v.list[v.selected].name
					})
					return checkedSkus.join(',')
				}
			},
			// 选中skus的索引
			checkedSkusIndex(){
				if(this.popupData){
					if (!Array.isArray(this.popupData.goods_skus)) {
						return -1
					}
					let index = this.popupData.goods_skus.findIndex((item)=>{
						return item.skusText === this.checkedSkus
					})
					return index
				}
			},
			// 显示价格
			showPrice(){
				if (this.popupData) {
					if (this.checkedSkusIndex < 0) {
						return this.popupData.min_price || 0.00
					}
					return this.popupData.goods_skus[this.checkedSkusIndex].pprice
				}
			},
			// 最大库存
			maxStock(){
				if (this.popupData) {
					if (!Array.isArray(this.popupData.goods_skus)) {
						return 100
					}
					return this.popupData.goods_skus[this.checkedSkusIndex].stock || 100
				}
			},
		},
		methods: {
			...mapActions([
				'doHidePopup'
			]),
			...mapMutations([
				'changeNum',
				'vCartModel'
			]),
			hidePopup(isSubmit = false){
				if (!isSubmit) {
					return this.doHidePopup();
				}
				uni.showLoading({
					title: '修改中...'
				});
				this.$H.post('/cart/'+this.popupData.item.id,{
					shop_id:this.popupData.goods_skus[this.checkedSkusIndex].id,
					num:this.num
				},{
					token:true
				}).then(res=>{
					// 修改数量
					this.changeNum({
						num:this.num,
						index:this.popupIndex
					})
					// 修改skuText
					this.vCartModel({
						index:this.popupIndex,
						value:this.checkedSkus,
						key:"skusText"
					})
					// 修改限制库存
					this.vCartModel({
						index:this.popupIndex,
						value:this.maxStock,
						key:"maxnum"
					})
					// 修改价格
					this.vCartModel({
						index:this.popupIndex,
						value:this.showPrice,
						key:"pprice"
					})
					this.doHidePopup()
					uni.hideLoading()
				})
			}
		},
	}
</script>

<style>
</style>
