<template>
	<view class="d-flex flex-column" style="height: 100%;">
		<view class="p-3">
			<block v-for="(item,index) in list" :key="index">
				<coupon :item="item" :index="index"
				@click="getcoupon(item)">
					<text v-if="!item.status">已失效</text>
					<text v-else-if="item.disabled">已领取</text>
					<text v-else>领取</text>
				</coupon>
			</block>
		</view>
		<!-- 默认无 -->
		<template v-if="list.length < 1">
			<no-thing icon="no_pay" msg="你还没有可用的优惠券"></no-thing>
		</template>
	</view>
</template>

<script>
	import noThing from "@/components/common/no-thing.vue"
	import coupon from "@/components/order-coupon/coupon.vue"
	export default {
		components: {
			noThing,
			coupon
		},
		data() {
			return {
				page:1,
				list:[]
			}
		},
		onLoad() {
			this.__init()
		},
		methods: {
			// 初始化
			__init(){
				this.$H.get('/coupon/'+this.page,{},{
					token:true
				}).then(res=>{
					this.list = res.map(item=>{
						let time = (new Date()).getTime()
						let status = (item.end_time > time/1000) && item.status
						return {
							id:item.id,
							title:item.name,
							start_time:item.start_time,
							end_time:item.end_time,
							value:item.value,
							desc:item.desc,
							status,
							disabled:(item.coupon_user.length > 0),
							type:item.type
						}
					})
				})
			},
			// 领取
			getcoupon(item){
				this.$H.post('/getcoupon/'+item.id,{},{
					token:true
				}).then(res=>{
					item.disabled = true
					uni.showToast({
						title: '领取成功',
						icon: 'none'
					});
				})
			}
		}
	}
</script>

<style>
.tabactive{
	border-bottom: 5rpx solid #FD6801;
	color: #FD6801;
	margin-bottom: -5rpx;
}
</style>
