<template>
	<view>
		<card v-if="loginStatus" headTitle="账号管理" bodyStyle="background:#ffffff;">
			<uni-list-item title="个人资料" @click="navigate('user-userinfo')"></uni-list-item>
			<uni-list-item title="收货地址" @click="navigate('user-path-list')"></uni-list-item>
		</card>
		<card headTitle="关于" bodyStyle="background:#ffffff;">
			<uni-list-item :title="list.title" v-for="(list,listIndex) in list2"
			:key="listIndex" @click="navigate(list.path)"></uni-list-item>
		</card>
		<view class="p-3" v-if="loginStatus">
			<button type="default" class="bg-white" @click="logoutEvent">退出登录</button>
		</view>
	</view> 
</template>

<script>
	import card from "@/components/common/card.vue"
	import uniListItem from "@/components/uni-ui/uni-list-item/uni-list-item.vue"
	import { mapMutations,mapState } from 'vuex'
	export default {
		components: {
			card,
			uniListItem
		},
		data() {
			return {
				list2:[
					{ title:"关于商城",path:"about" },
					{ title:"意见反馈",path:"" },
					{ title:"协议规则",path:"" },
					{ title:"资质证件",path:"" },
					{ title:"用户协议",path:"" },
					{ title:"隐私政策",path:"" },
				],
			}
		},
		computed: {
			...mapState({
				loginStatus:state=>state.user.loginStatus
			}),
		},
		methods: {
			...mapMutations(['logout']),
			logoutEvent(){
				this.$H.post('/logout',{},{
					token:true
				}).then(res=>{
					this.logout()
					uni.showToast({
						title: '退出登录成功',
						icon: 'none'
					});
					uni.navigateBack({
						delta: 1
					});
				}).catch(err=>{
					this.logout()
					uni.navigateBack({
						delta: 1
					});
				})
			},
			navigate(path){
				if (!path) return;
				uni.navigateTo({
					url: `/pages/${path}/${path}`
				});
			}
		}
	}
</script>

<style>
page{
	background: #EEEEEE;
}
</style>
