<template>
	<image :src="src ? src : '/static/images/demo/demo6.jpg'" :style="getStyle" class="rounded-circle border-light ml-4 bg-light"></image>
</template>

<script>
	export default {
		props: {
			src: {
				type: String,
				default: "/static/images/demo/demo6.jpg"
			},
			w:{
				type: [String,Number],
				default: 145
			},
			h:{
				type: [String,Number],
				default: 145
			},
			border:{
				type: [String,Number],
				default: 0
			}
		},
		computed: {
			getStyle() {
				return `height: ${this.h}rpx;width: ${this.w}rpx;border: ${this.border}rpx solid;` 
			}
		},
	}
</script>

<style>
</style>
