<template>
	<view
	class="rounded border border-light-secondary py-1 px-2 text-secondary ml-2"
	hover-class="bg-light-secondary"
	@click.stop="$emit('click')">
		<slot></slot>
	</view>
</template>

<script>
</script>

<style>
</style>
