<template>
	<view>
		<view class="d-flex flex-column a-center j-center py-5 my-3">
			<text class="text-light-muted font-md">支付金额</text>
			<price priceSize="font-lg" unitSize="font-md">{{detail.totalPrice}}</price>
		</view>
		<view class="px-5">
			<radio-group @change="change">
			<label v-for="(item,index) in options" :key="index">
				<uni-list-item :leftIcon="item.icon" 
				:title="item.title" showExtraIcon 
				leftIconStyle="font-size:60rpx;"
				:note="item.note">
					<radio slot="right" :value="item.value" color="#FD6801"
					:checked="paymethod === item.value"/>
				</uni-list-item>
			</label>
			</radio-group>
			<view class="rounded text-white font-md w-100 py-2 mt-3 text-center" :class="loading ? 'main-bg-disabled-color' : 'main-bg-color'" hover-class="main-bg-hover-color" @click="submit">
				{{loading ? '支付中...' : '确认支付'}}
			</view>
			
		</view>
	</view>
</template>

<script>
	import price from "@/components/common/price.vue"
	import uniListItem from "@/components/uni-ui/uni-list-item/uni-list-item.vue"
	export default {
		components: {
			price,
			uniListItem
		},
		data() {
			return {
				loading:false,
				paymethod:"alipay",
				options:[{
					icon:"icon-zhifubao text-primary",
					title:"支付宝支付",
					note:"推荐使用支付宝支付",
					value:"alipay"
				},{
					icon:"icon-weixinzhifu text-success",
					title:"微信支付",
					note:"",
					value:"wxpay"
				}],
				detail:{
					totalPrice:0,
					id:0
				}
			}
		},
		onLoad(e) {
			if(e.detail){
				this.detail = JSON.parse(e.detail)
			}
		},
		methods: {
			submit(){
				if(this.loading){
					return;
				}
				this.loading = true
				this.$H.get('/payment/'+this.detail.id+'/'+this.paymethod,
				{},{
					token:true,
					native:true
				}).then(res=>{
					console.log(res);
					uni.requestPayment({
					    provider: this.paymethod,
					    orderInfo: res.data,
					    success: (e) => {
					        uni.redirectTo({
					            url: '../pay-result/pay-result?detail='+JSON.stringify({
									success:true
								})
					        });
					    },
					    fail: (e) => {
					       uni.showModal({
					           content: "支付失败,原因为: " + e.errMsg,
					           showCancel: false
					       })
					    },
						complete: () => {
							this.loading = false
						}
					})
				})
				// uni.navigateTo({
				// 	url: '../pay-result/pay-result',
				// });
			},
			// 选中
			change(e){
				this.paymethod = e.detail.value
			}
		}
	}
</script>

<style>

</style>
